NEXT_PUBLIC_SUPABASE_URL=https://ucyjethgnczmtvavsfom.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_epeE8pnAbiqYDqfMmfBx8g_RnPMxHqy
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjeWpldGhnbmN6bXR2YXZzZm9tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2MjAxNjcsImV4cCI6MjA5OTE5NjE2N30.OJwy4HSXG0_3NDIQe2nBeSAdD6weN8xuqhu9_RbUlRY
NEXT_PUBLIC_SITE_URL=http://localhost:3000