NEXT_PUBLIC_SUPABASE_URL=https://nawamujopepbpewmjdvl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_9tnK4nh8HRVFEqzFD4AlZA_DzdSHdO_
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_9tnK4nh8HRVFEqzFD4AlZA_DzdSHdO_
NEXT_PUBLIC_SITE_URL=http://localhost:3000
